
$primary: #5265E1;
$secondary: #FA5959;

/* Para dar espacio entre la barra de navegación y el contenido */
header {
  margin-bottom: 7rem;
}

/* Para eliminar el borde del botón de colapse */
.navbar-light .navbar-toggler {
  border: none;
}

/* Fondos lila tras las imágenes */
#shape {
  height: 65%;
  width: 90%;
  background-color: #5265E1;
  border-radius: 0 0 0 175px;
  z-index: -1;
  bottom: 10%;
  right: -10%;
}

#shape-1 {
  height: 80%;
  width: 100%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -15%;
  left: -30%;
}
#shape-2 {
  height: 75%;
  width: 85%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -10%;
  left: -30%;
}
#shape-3 {
  height: 75%;
  width: 80%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -15%;
  left: -30%;
}
/* Espacio entre cada parte de la página (portada, features, downloads...) */
#features, #downloads {
  margin: 5rem 0 1rem 0;
}

/* Estilo de TABS */
#features-tabs .active {
  border-bottom: solid 0.2rem red;
  border-top: none;
  border-right: none;
  border-left: none;
}


/* MOBILE VERSION */
@media only screen and (max-width: 576px){
  #imagen1 {
    order: 1;
  }
  #texto1 {
    order: 2;
    margin-top: 1rem;
    text-align: center;
  }
  
  #features h2, #features p {
    width: 100%;
    text-align: center;
  }
  
  #features-tabs {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: 1px solid #dee2e6;
  }
  #simple-tab, #speedy-tab, #easy-tab {
    justify-items: center;
    border-bottom: 1px solid #dee2e6;
  }
  #speedy-tab{
    justify-items: center;
    border-bottom: 1px solid #dee2e6;
  }
  #texto2 {
    text-align: center;    
  }
  /* Eliminar el botón de "more info" */
  #texto2 button {
    display: none;
  }
  .cards {
    width: 15rem;
  }
}

@import "./node_modules/bootstrap/scss/bootstrap.scss"
