
$primary: #5265E1;
$secondary: #FA5959;

/* Para dar espacio entre la barra de navegación y el contenido */
header {
  margin-bottom: 7rem;
}

/* Eliminar el borde del botón de colapse */
.navbar-light .navbar-toggler {
  border: none;
}

/* Reducir la imagen del "Simple Bookmarking" tab, que queda muy grande */
#image2{
  width: 80%;
}

/* Fondos lila tras las imágenes */
#shape {
  height: 65%;
  width: 90%;
  background-color: #5265E1;
  border-radius: 0 0 0 175px;
  z-index: -1;
  bottom: 10%;
  right: -10%;
}

#shape-1 {
  height: 80%;
  width: 100%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -15%;
  left: -30%;
}
#shape-2 {
  height: 75%;
  width: 85%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -10%;
  left: -30%;
}
#shape-3 {
  height: 75%;
  width: 80%;
  background-color: #5265E1;
  border-radius: 0 0 100px 0;
  z-index: -1;
  bottom: -15%;
  left: -30%;
}
/* Espacio entre cada parte de la página (portada, features, downloads...) */
#features, #downloads, #FAQs {
  margin: 5rem 0 1rem 0;
}

/* Estilo de TABS */
#features-tabs .active {
  border-bottom: solid 0.2rem red;
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: bold;
}

/* Separador cards. Ajustar los puntos de separación dentro de la tarjeta y que no se salgan al encogerlos */
#separador-dots {
  width: 100%;
}
/* Lineas superior e inferior del accordion FAQs */
.accordion-flush {
  border-top: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
}

$accordion-icon-color: blue;

/* FOOTER*/
/* Cambios de letras y tamaños*/
#joiners {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 0.7rem;
}

/* Medidas iconos facebook y twitter */
#media-icon {
  width: 70%;
}

/* Tamaño letra footer-navbar */
#footer-navlink {
  font-size: 0.7rem;
}

/* MOBILE VERSION */
@media only screen and (max-width: 768px){
  /* Márgenes laterales barra de navegación */
  .navbar-brand {
    margin-left: 2rem;
   }
   .navbar-toggler {
     margin-right: 1rem;
   }
   /* Cambio de orden de la imagen y el texto de la página de inicio */
  #imagen1 {
    order: 1;
  }
  #texto1 {
    order: 2;
    margin-top: 1rem;
    text-align: center;
  }
  /* Evitar que salga la barra horizontal de movimiento de la pantalla. Las formas del fondo hacen que se salga de los márgenes */  
  #shape {
    right: 0;
    width: 90%;
  }
  #shape-1, #shape-2, #shape-3 {
   left: 0;
   width: 80%;
  }
  /* Reajustar la imagen del "Simple Bookmarking" tab, que en versión móvil se ve pequeña */
  #image2 {
    width: 100%;
  }
  /* FEATURES. Ajuste del texto al centro */
  #features h2, #features p{
    margin-left: 2rem;
  }
  /* TABS
  Ajuste de lineas de separación al ancho de pantalla */
  ul {
    border-top: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
 }
  /* Cambio de dirección de las tabs a columnas */
  #features-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    border-width: 100%;
  }
  #simple-tab, #speedy-tab, #easy-tab {
  margin-bottom: 1rem;
  }
  #texto2 {
    text-align: center;    
  }
  /* TABS. Eliminar el botón de "more info" de todas las tabs*/
  #texto2 button {
    display: none;
  }
  /* CARDS. Tamaño fijo */
  .cards {
    width: 15rem;
  }
  /* FOOTER
  Poner el formulario (email + botón) en columnas */
  form {
    display: flex;
    flex-direction: column;
  }
  #InputEmail1 {
    margin-bottom: 1rem;
  }
  /* Ajustar el tamaño del botón y que quede en una línea */
  #button-contact {
    width: 100%;
  }
/*Poner todos los componentes de navbar (logo, opciones y redes) en una columna */
  #footer-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Poner el menú de opciones de navbar en una columna */
  #options-navbar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #footer-navlink {
    font-size: 0.8rem;
    text-align: center;
  }
}


@import "./node_modules/bootstrap/scss/bootstrap.scss"
